<div class="text-center">
	<h1 class="p-0 m-0">GoodHabs</h1>
	<p>The positive habits tracker</p>
</div>

<div class="row p-3 shadow mt-4" >
	<div class="col-lg-9 col-12 text-justify  my-auto pb-2">
		<h2 class="text-center"> What is GoodHabs?</h2>
		GoodHabs is a tiny web app where you can keep track of your daily positive habits. Here you'll be able to create the <strong>Categories</strong> that fit your needs (such as Exercising, Reading, Meditate, etc.) and log your daily activities to each one of them. This logs will be stored in the app and you can easily access them by date in the <strong>Tracker</strong> view.
	</div>
	<div class="col-lg-3 col-12 d-flex justify-content-center mt-2 my-auto">
				<img
				width=300px
				height=250px
				class="rounded-circle p-2"
				src="https://images.pexels.com/photos/936094/pexels-photo-936094.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
						/>
	</div>
</div>
<div class="row mt-3 d-flex justify-content-between">
	<div class="col-lg-6 col-12 text-justify shadow my-3">
		<h2 class="text-center mt-4">Functionalities</h2>
		<div class="mx-auto mt-3">
			<ul>
				<li>Add categotegories</li>
				<li>Add daily logs (yes, you can add on previous days too)</li>
				<li>Search by date</li>
				<li>Sign up</li>
				<li>Log in</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-5 col-12 text-justify shadow my-3">
		<h2 class="text-center mt-4">Quick Start</h2>
		<div class="mx-auto mt-3">
			<ul>
				<li>Do you want to keep track of your habits?</li>
				<li>Register an account <!-- link register--></li>
				<li>Now is time to log in<!-- link login--></li>
				<li>Create the categories you'll use</li>
				<li>Track your activities</li>
				<li>Achieve your goals</li>
			</ul>
		</div>
	</div>
</div>
					
					
		